@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Rubik+Mono+One&display=swap');

:root {
    --primary-color: #283618;
    --secondary-color: #508CA4;
    --accent1-color: #91aec1;
    --accent2-color: #bfd7ea;
    --heading-font: 'Rubik Mono One', monospace;
    --paragraph-font: 'DM Mono' , monospace;
    --nav-background-color: #bfd7bf;
    --nav-link-color: #508ca4;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #91aec1;
}
main {
    max-width: 1500px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    justify-self: center;
}
p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}
a {
    text-decoration: none;
    color: var(--accent2-color);
}
a:link {
    text-decoration: none;
    color: var(--accent2-color);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
header img {
    width: 100px;
    margin-left: 400px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 25px;
    left: 450px;
    background-color: var(--accent2-color);
}
.hero article {
    position: absolute;
    top: 200px;
    padding: 30px;
    background: rgb(191,215,234, .7);
}
.hero article img {
    float: right;
    width: 200px;
    padding: 0 20px 0 20px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 200px;
}
.hero p {
    color: var(--primary-color);
}
.adventure section {
    display: flex;
}
footer p {
    margin: 200px;
}
.sociallinks {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sociallinks img {
    max-width: 35px;
}
.contactbox {
    display: flex;
    max-width: 800px;
    padding: 1rem;
    margin: 1rem auto;
}
h1 .contactus {
    display: block;
}
form {
    width: 550px;
    margin: 1rem auto;
    padding: 2rem;
    border: 1px solid var(--accent2-color);
    font-family: var(--paragraph-font);
    border-radius: .3rem;
    background: var(--accent1-color);
    display: grid;
}
button {
    font-family: var(--paragraph-font);
    background: #283618;
    border-radius: .8rem;
    color: var(--accent2-color);
    height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
}
button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
input, textarea {
    font-size: 1.1rem;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    padding: 1rem;
}
label, legend {
    padding: 1rem 0 1rem 0;
}
.team {
    display: flex;
}
.tripshero {
    position: relative;
    display: block;
}
.tripshero img {
    justify-items: center;
}
.tripshero h1 {
    display: block;
    position: absolute;
    top: 45px;
    left: 100px;
    background-color: var(--accent2-color);
}
.locations {
    display: flex;
}